{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book list</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script src="https://kit.fontawesome.com/a0383e6ab5.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        {% if error %}
            alert("{{ error }}");
        {% endif %}
    </script>
</head>
<body>
    <div id="container">
        <h1>Import book from Google</h1><br>
        <a class="button" href="{% url 'create-book' %}"><i class="fas fa-arrow-left"></i> Back to create book page</a><br>
        <form method="GET">
            <input type="text" name="keywords" required>
            <input type="submit" class="button" value="Search">
        </form>
        <table>
            <tr>
                <th class="title">Title</th>
                <th>Author</th>
                <th>Published date</th>
                <th>ISBN number</th>
                <th>Page count</th>
                <th>Front cover link</th>
                <th>Language</th>
                <th></th>
            </tr>
            {% for book in books %}
                <tr>
                    <td class="title">{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{% if book.pub_date %}{{ book.pub_date }}{% else %}-{% endif %}</td>
                    <td>{% if book.isbn_number %}{{ book.isbn_number }}{% else %}-{% endif %}</td>
                    <td>{{ book.page_count }}</td>
                    <td>{% if book.front_cover_link %}<a target="_blank" href="{{ book.front_cover_link }}">Open link</a>{% else %}-{% endif %}</td>
                    <td>{{ book.language }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="title" hidden value="{{ book.title }}">
                            <input type="text" name="author" hidden value="{{ book.author }}">
                            <input type="text" name="pub_date" hidden value="{{ book.pub_date }}">
                            <input type="text" name="isbn_number" hidden value="{{ book.isbn_number }}">
                            <input type="text" name="page_count" hidden value="{{ book.page_count }}">
                            <input type="text" name="front_cover_link" hidden value="{{ book.front_cover_link }}">
                            <input type="text" name="language" hidden value="{{ book.language }}">
                            <input type="submit" style="margin: 0;" class="button" value="Add">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>